language: c++
matrix: 
  include: 
  - env: TARGET_OS=android
    jdk: oraclejdk7
    os: linux
    script:
    - chmod +x cdep cmakeify
    - wget https://github.com/hunter-packages/freetype/archive/v2.6.2-p0.tar.gz
    - tar -xvzf v2.6.2-p0.tar.gz
    - ./cmakeify -wf freetype-2.6.2-p0 --group-id com.github.jomof --artifact-id sqlite --target-version ${TRAVIS_TAG:-0.0.0} 
    - ./cdep
    - ./cmakeify -wf .cdep/examples/cmake


